/*tosdos os elementos*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background: #222222;
}

.content2{
    background: #222222;
    height: 100%;
}
/*menu navbar*/
.imagem-logo{
    width: 60px;
    left: 5%;
}

.header, .navigation-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: #170e30;
    box-shadow: 1px 1px 7px #680000;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 6%;
}

.navigation-header{
    margin-right: 25%;
    gap: 3em;
    z-index: 2;
}

.navigation-header a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
    font-weight: bold;
}
.navigation-header a:hover{
    color: #ef1e9d;
    cursor: pointer;
}
.active{
    background-color: #0a021d;
    padding: 10px;
    border-radius: 10px;
}



.btn-icon-hader{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}
/*caixa de pesquisa*/

.search-box{
    position: absolute;
    top: 2%;
    left: 78%;
    transform: translate(-10%, -10%);
    background: #1f0d79;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-input-placeholder{
    color: #ef1e9d;
    opacity: 40%;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1f0d79;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;

}
/*carrossel*/
.content{
    border: transparent;
    border-radius: none;
    transition: 1s;
}
.carousel-item{
    padding: 0;
    background: none;
    border-radius: 20%;
}
.carrossel{
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
}

/*grid*/

.container-game{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    padding: 100px;
    grid-gap: 1px;
    max-width: 905.4px;
    max-height: 402.3px;
    margin: 0 auto;
}

.conteudo-game{
    position: relative;
}

.conteudo-game .img-game{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo-game .legenda{
    position: absolute;
    background: transparent;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.texto{
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.texto h1{
    border-radius: 3px;
    border-left: 3px solid #02daff;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.principal{
    width: 500px;
    height: 400px;
    left: -20%;
    top: -33.2%;
    transition: 1s;
}
.principal:hover{
    width: 510px;
    height: 410px;
    left: -20%;
    top: -33.2%;
}

.segundo{
    width: 400px;
    height: 200px;
    left: -24.8%;
    top: -33.2%;
    transition: 1s;
}
.segundo:hover{
    width: 410px;
    height: 210px;
    left: -25.1%;
    top: -33.9%;
}


.terceiro{
    top: 34%;
    width: 400px;
    height: 200px;
    left: -125%;
    transition: 1s;
}
.terceiro:hover{
    top: 33.6%;
    width: 410px;
    height: 210px;
    left: -124%;
}


/*imagem fundo*/

.imagem-fundo{
    width: 100%;
    height: 800px;
    background-image: url(PlayStation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.texto2{
    position: relative;
    left: -20%;
    top: 10%;
    text-align: center;
    padding: 30px 0;
}

.texto2 .tz{
    position: relative;
    top: 10%;
    left:-7.7%;
}

.texto2 > h1{
    position: relative;
    left: -45px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto2 > h2{
    position: relative;
    top: 10%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(233, 230, 230);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.saiba{
    position: relative;
    left: 15%;
    top: 10%;
    max-width: 1000vw;
    max-height: 1000vw;
    border: none;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2b134b;
    font-weight: bold;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 40px -12px #00000052;
}
.saiba:hover{
    background: #ef1e9d;
    cursor: pointer;
    transition: 1s;
}

.card-principal{
    border: none;
    position: relative;
    top: 15%;
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    background: transparent;
}

.o1{
    position: relative;

}

.o1:hover{
    cursor: pointer;
    transition: 1s;
}


.o2{
    position: relative;
    left: 30px;

}

.o2:hover{
    cursor: pointer;
    transition: 1s;
}

.o3{
    position: relative;
    left: 60px;

}

.o3:hover{
    cursor: pointer;
    transition: 1s;
}

.card-text{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-text-2{
    position: relative;
    left: 80px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cardssss{
    position: relative;
    top: 10%;
    left: -5%;
    display: flex;
}

.card-text-principal{
    position: relative;
    top: 10%;
    left: -5%;
    display: flex;
}

.card-text-3{
    position: relative;
    left: 170px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*card carrossel*/

.container2 {
    position: relative;
    padding: 15px;
    max-width: 850px;
    margin: 0 auto;
    
  }

  .gallery-wrapper {
    overflow-x: auto;
  }

.arrow-left, .arrow-right {
  position: relative;
  top: -14px;
  left: 87%;
  right: auto;
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  transition: all 600ms ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 80%;
}

.arrow-left i{
    position: relative;
    top: -4px;
    left: 0%;
}

.arrow-right i{
    position: relative;
    top: -4px;
    left: -25%;
}
.arrow-left:hover, .arrow-right:hover {
  background: #ef1e9d;

}

.arrow-right {    
    text-align: right;
  }

  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }

  
 
  .item:hover{
    cursor: pointer;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
  }

  .item {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }


  /* Isso é da w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Ocultar barra de rolagem para Chrome, Safari e Opera */
.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

  /*Ocultar barra de rolagem para IE, Edge e Firefox */
.gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .cyan {
    background: cyan;
  }
  
  .deeppink {
    background: deeppink;
  }
  
  .turquoise {
    background: turquoise;
  }
  
  .darkblue {
    background: darkblue;
  }
  
  .purple {
    background: purple;
  }

  /*xbox*/

    .imagem-fundo2{
    width: 100%;
    height: 800px;
    background-image: url(banner-xbox.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.texto3{
    position: relative;
    left: -20%; 
    top: 10%;
    text-align: center;
    padding: 30px 0;
}


.texto3 .tz2{
    position: relative;
    top: 10%;
    left:1%;
}

.texto3 > h1{
    position: relative;
    left: -45px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto3 > h2{
    position: relative;
    top: 10%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(170, 166, 166);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.saiba2{
    position: relative;
    left: 20%;
    top: 10%;
    max-width: 1000vw;
    max-height: 1000vw;
    border: none;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2b134b;
    font-weight: bold;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 40px -12px #00000052;
}
.saiba2:hover{
    background: #ef1e9d;
    cursor: pointer;
    transition: 1s;
}

.card-principal2{
    border: none;
    position: relative;
    top: 15%;
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    background: transparent;
}

.a1{
    position: relative;

}

.a1:hover{
    cursor: pointer;
    transition: 1s;
}


.a2{
    position: relative;
    left: 30px;

}

.a2:hover{
    cursor: pointer;
    transition: 1s;
}

.a3{
    position: relative;
    left: 60px;

}

.a3:hover{
    cursor: pointer;
    transition: 1s;
}

.card-text-4{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-text-5{
    position: relative;
    left: 80px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cardssss2{
    position: relative;
    top: 10%;
    left: -5%;
    display: flex;
}

.card-text-principal3{
    position: relative;
    top: 10%;
    left: -5%;
    display: flex;
}

.card-text-6{
    position: relative;
    left: 170px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*card carrossel*/

.container3 {
    position: relative;
    padding: 15px;
    max-width: 850px;
    margin: 0 auto;
    
  }

  .gallery-wrapper2 {
    overflow-x: auto;
  }

.arrow-left2, .arrow-right2 {
  position: relative;
  top: -14px;
  left: 87%;
  right: auto;
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  transition: all 600ms ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 80%;
}

.arrow-left2 i{
    position: relative;
    top: -4px;
    left: 0%;
}

.arrow-right2 i{
    position: relative;
    top: -4px;
    left: -25%;
}
.arrow-left2:hover {
  background: #ef1e9d;
}
.arrow-right2:hover {
    background: #ef1e9d;
  }

.arrow-right2 {    
    text-align: right;
  }

  .gallery2 {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }

  
 
  .item2:hover{
    cursor: pointer;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
  }

  .item2 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item2 {
    opacity: 1;
  }


  /* Isso é da w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Ocultar barra de rolagem para Chrome, Safari e Opera */
.gallery-wrapper2::-webkit-scrollbar {
    display: none;
  }

  /*Ocultar barra de rolagem para IE, Edge e Firefox */
.gallery-wrapper2 {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .cyan {
    background: cyan;
  }
  
  .deeppink {
    background: deeppink;
  }
  
  .turquoise {
    background: turquoise;
  }
  
  .darkblue {
    background: darkblue;
  }
  
  .purple {
    background: purple;
  }


/*responsivo*/

@media screen and (max-width:768px) {
    .header{
        justify-content: space-between;
    }
    .btn-icon-hader{
        display: block;
    }
    .navigation-header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #1b0a49;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .search-box{
        top: 68%;
        left: 71%;
        transform: translate(-70%, -40%);
    }

    .search-btn{
        display: none;
    }
    .search-txt{
        display: block;
        width: 99px;
    }
    .search-box:hover > .search-txt{
        width: 99px;
        padding: none;
    }

    .texto{
        display: none;
    }
    
    
    .conteudo-game{
        display: none;
    }

    .imagem-fundo{
        position: relative;
        padding: 15px;
        max-width: 100%;
        margin: 0 auto;
        top: -500px;
        background: #222222;
    }

    .texto2{
        position: relative;
        left: 10%;
        top: 10%;
        font-size:1px;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
        
    }
    
    .texto2 .tz{
        position: relative;
        top: 10%;
        left: -13%;
    }

    .texto2 > h1{
        position: relative;
        top: -20;
    }

    .texto2 h2{
        position: relative;
        left: -40px;
        
    }

    .texto2 br{
    display: none;
    }


    .saiba{
        position: relative;
        left: 35%;
    }



    .cardssss{
        
        position: relative;
        left: 5%;
        top: -10px;
        flex-direction: column;
        
    }

    .o1{
        position: relative;
    
    }
    
    
    .o2{
        position: relative;
        top: 140px;
        left: 0px;
    
    }
    
    
    .o3{
        position: relative;
        top: 280px;
        left: 0;
    
    }

    .card-text-principal{
        position: relative;
        top: -50%;
        left: 5%;
        flex-direction: column;
    }

    .card-text{
        position: relative;
        left: 30px;
        top: 15px;
        font-size: 30px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .card-text-2{
        position: relative;
        left: 30px;
        top: 210px;
        font-size: 30px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .card-text-3{
        position: relative;
        left: 30px;
        top: 440px;
        font-size: 30px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    



    /*cads carrossel*/


    .container2 {
        position: relative;
        padding: 15px;
        max-width: 100%;
        margin: 0 auto;
        
      }

      .arrow-left, .arrow-right {
        position: relative;
        top: -15px;
        left: 70%;
        right: auto;
        width: 50px;
        transition: all 600ms ease-in-out;
        cursor: pointer;
        border: none;
        border-radius: 80%;
      }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top{margin-left: -40vw;}
}


/*footer*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #211c2c;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background: #02daff;      
}

.form-sub a{
    color: #2b134b;
    text-decoration: none;  
}

.form-sub{
    position: relative;
    left: -50px;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #02daff;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.form-sub:hover{
    background: #ef1e9d;
    cursor: pointer;
    transition: 1s;
}

.logoDaEmpresa{
    color: white;
    font-weight: 1000;
}


/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}